body {
    background: linear-gradient(#edf2f5, #085585);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

   }

#login_table {
    margin-left:auto;
    margin-right:auto;
   text-align: center;
    margin-top: 20%;
}

.login_btn {
    background: #d936e8;
    background-image: -webkit-linear-gradient(top, #d936e8, #23a6f7);
    background-image: -moz-linear-gradient(top, #d936e8, #23a6f7);
    background-image: -ms-linear-gradient(top, #d936e8, #23a6f7);
    background-image: -o-linear-gradient(top, #d936e8, #23a6f7);
    background-image: linear-gradient(to bottom, #d936e8, #23a6f7);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    -webkit-box-shadow: 2px 4px 0px #666666;
    -moz-box-shadow: 2px 4px 0px #666666;
    box-shadow: 2px 4px 0px #666666;
    font-family: Arial;
    color: #ffffff;
    padding: 4px 9px 4px 9px;
    text-decoration: none;
}

.login_btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

